*{
padding: 0;
margin:0
}

#background-landing-page{
  height:100vh;
  width:100vw;  
  background-color: #FFD966; 
}


#search-bar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  top : 50%;
  transform: translateX(45%);
  -webkit-transform:translateX(45%);
  border-radius:38px;
  width:50%;
}

